
body{
    background-color: #E5E5E5; 
}

.logopagina{
    position: absolute;
    display: flex;
    flex-direction: column  ;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

#textodesencriptado{
    position: absolute;
    border-style: none;
    outline: none;
    resize: none;
    width: 680px;
    height: 480px;
    left: 240px;
    top: 168px; 
    background-color: #E5E5E5;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;      /* identical to box height, or 48px */
    color: #0A3871;
}

#terminosycondiciones{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-size: 13px;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;
}

/*BOTONERA*/
.botonera{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;
}

/*BOTON ENCRIPTAR*/
#botonencriptar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background: #0A3871;

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    order: 0;
    flex-grow: 1;
    color: #FFFFFF;
}

/*BOTON DESENCRIPTAR*/
#botondesencriptar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background: #D8DFE8;


    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    order: 1;
    flex-grow: 1;
}

/*RECTANGULO DERECHO*/
.rectaguloderecho{
    position: absolute;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 20px;
    background: #FFFFFF;
}

#munheco{
    display: absolute;
    position: relative;
    width: 336px;
    height: 304px;
    left: 32px;
    top: 283px;
}

#msj1{
    position: relative;
    text-align: center;
    top: 282px;
    margin-top: 5px;

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 24px;    /* or 29px */
    line-height: 120%;
    color: #343A40;
}

#msj2{
    position: relative;
    text-align: center;
    top: 300px;
    margin-top: 5px;

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;    /* or 24px */
    line-height: 150%;     
    color: #495057;
}

#textoencriptado{
    display: none;
    position: relative;
    border-style: none;
    outline: none;
    resize: none;
    width: 336px;
    height: 781px;
    left: 32px;
    top: 72px;
    background-color: #FFFFFF;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;   /* or 36px */
    line-height: 150%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #495057;
}

/* BOTON DE RECTANGULO DERECHO */
#botoncortar{
    display: none;
    position: relative;
    padding: 24px;
    margin-left: 35px;
    gap: 8px;
    width: 336px;
    height: 67px;
    top: 80px;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #0A3871;
    background: #D8DFE8;
}

/*FOOTER*/
.piedepagina{
    position: absolute;
    text-align: center;
    top: 1000px;
    left: 500px;
    background: #000000;
    color: #ffffff;
}