
body{
    background-color: #F3F5FC; 
    max-width: 1440px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        position: absolute;
        width: 31.09px;
        height: 50.58px;
        left: 40px;
        top: 73.42px;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        position: absolute;
        width: 375px;
        height: 96px;
        left: 0px;
        top: 0px;
    }

}

.logopagina{
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
    
    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        position: absolute;
        left: 5.21%;
        right: 90.74%;
        top: 6.25%;
        bottom: 89.8%;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        position: absolute;
        left: 4.27%;
        right: 87.2%;
        top: 25%;
        bottom: 25%;
    }
}

#textodesencriptado{
    position: absolute;
    border-style: none;
    outline: none;
    resize: none;
    width: 680px;
    height: 480px;
    left: 240px;
    top: 168px; 
    background-color: #F3F5FC;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;      /* identical to box height, or 48px */
    color: #0A3871;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        position: absolute;
        width: 688px;
        height: 248px;
        left: 40px;
        top: 180px;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        position: absolute;
        width: 343px;
        height: 186px;
        left: 16px;
        top: 152px;
    }
}

#terminosycondiciones{
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    font-size: 13px;
    width: 229px;
    height: 18px;
    left: 240px;
    top: 851px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;

    flex: none;
    order: 1;
    flex-grow: 0;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */ 
        left: 40px;
        top: 836px;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 250px;
        height: 18px;
        top: 450px;
        left: 16px;
    }
}

/*BOTONERA*/
.botonera{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 688px;
        height: 67px;
        left: 40px;
        top: 870px;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        flex-direction: column;
        align-items: center;

        width: 343px;
        height: 158px;
        left: 16px;
        top: 485px;         
    }   
}

/*BOTON ENCRIPTAR*/
#botonencriptar{
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background: #0A3871;

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    order: 0;
    flex-grow: 1;
    color: #FFFFFF;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 332px;
    }
        
    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 343px;
        height: 67px;     
    }
}
/*BOTON DESENCRIPTAR*/
#botondesencriptar{
    box-sizing: border-box;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background: #D8DFE8;

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    order: 1;
    flex-grow: 1;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 332px;
    }
    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */        
        width: 343px;
        height: 67px;
    }
}

/*RECTANGULO DERECHO*/
.rectanguloderecho{
    position: absolute;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 20px;
    background: #FFFFFF;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;

        position: absolute;
        width: 688px;
        height: 343px;
        left: 40px;
        top: 1001px;
    }
    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        gap: 10px;
        
        position: absolute;
        width: 321px;
        height: 186px;
        left: 16px;
        top: 707px;
    }
}

#munheco{
    display: absolute;
    position: flex;
    width: 336px;
    height: 304px;
    margin-top: 283px;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        display: none;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        display: none;
    }
}

#msj1{
    position: flex;
    top: 282px;
    margin-top: 5px;

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 24px;    /* or 29px */
    line-height: 120%;
    color: #343A40;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 624px;
        height: 29px;
        margin-top: 110px;

        /* Inside auto layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 309px;
        height: 58px;
        margin-top: 30px;

        flex: none;
        order: 1;
        align-self: center;   
        flex-grow: 0;
    }
}

#msj2{
    position: flex;
    top: 300px;
    margin-top: 5px;

    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;    /* or 24px */
    line-height: 150%;     
    color: #495057;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 624px;
        height: 24px;

        /* Inside auto layout */  
        flex: none;
        order: 1;   
        align-self: stretch;
        flex-grow: 0;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 309px;
        height: 58px;
        margin-top: 5px;

        flex: none;
        order: 1;
        align-self: center;   
        flex-grow: 0;
    }
}

#textoencriptado{
    display: none;
    position: flex;
    flex-direction: column;
    align-items: center;
    border-style: none;
    outline: none;
    resize: none;
    width: 336px;
    height: 781px;
    margin-left: 32px;
    margin-top: 32px;
    background-color: #FFFFFF;

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;   /* or 36px */
    line-height: 150%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #495057;

    flex: none;
    order: 0;
    flex-grow: 0;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 580px;
        margin-left: 22px;
        height: 180px;
    }

    @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        position: flex;
        flex-direction: column;
        align-items: center;
        padding: 6px;
        width: 329px;
        height: 484px;
        margin-top: -10px;
        margin-left: -10px;
            
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    }
}

/* BOTON DE RECTANGULO DERECHO */
#botoncortar{
    box-sizing: border-box;
    display: none;
    position: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 48px;
    gap: 8px;
    width: 336px;
    height: 67px;
    border-radius: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #0A3871;
    background: #D8DFE8;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    
    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 554px;
        margin-left: 32px;
        margin-right: 32px;
        margin-top: 0px;
    }

      @media only screen and (max-width: 375px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 279px;
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        
        flex: none;
        order: 1;
        align-self: center;
        flex-grow: 0;
    }
}

/*FOOTER*/
.piedepagina{
    position: absolute;
    text-align: center;
    top: 1000px;
    width: 1440px;
    background: #000000;
    color: #ffffff;

    @media only screen and (max-width: 768px) {
        /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
        /* ... */
        width: 768px;
        height: 30px;
        top: 1384px;
    }

    @media only screen and (max-width: 375px) {
    /* estilos aplicados solo cuando la pantalla es menor o igual a 768px */
    /* ... */
        width: 375px;
        height: 30px;
        top: 1300px;
    }
}